.hidden {
  display: none;
}
/* ==================================== COMMON STYLES ====================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455; /* 5. Цвет текста Slate*/
  background-color: #ffffff; /* 5. Цвет фона по умолчанию*/
  font-family: 'Roboto', sans-serif; /* Основной шрифт для документа */
  font-weight: 400; /* Вес шрифта по умолчанию */
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none; /* Убираем подчеркивание */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================================== RESET STYLES ====================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Убираем маркеры в списках */
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ==================================== /COMMON STYLES ====================================*/

/* ==================================== HEADER STYLES ==================================== */
.page-header {
  border-bottom: 1px solid#e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
/* ====================================header logo ==================================== */

.page-logo {
  font-family: 'Raleway', sans-serif; /* шрифт для логотипа */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo-header {
  padding: 16px 0;
  display: block;
  margin-right: 120px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 76px;
  }
}

/* ==================================== header navigation and burger button ==================================== */
.page-nav {
  display: flex;
  align-items: center;
}

.nav-list,
.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts {
    font-style: normal;
    margin-left: auto;
    display: block;
  }
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.current::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-item {
  position: relative;
}
/* ==================================== header address ==================================== */
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
/* ==================================== header nav for mobile menu ==================================== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.studio {
  color: #404bbf;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.nav-item {
  position: relative;
}
.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #404bbf;
}
.mobile-tel {
  color: #404bbf;
}
.mobile-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  flex-direction: row;
  gap: 24px;
}

.mobile-social-list-item {
  display: inline-block;
  justify-content: space-around;
  width: 40px;
  height: 40px;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
. .mobile-social-list-link:hover {
  background-color: #404bbf;
}
.mobile-social-list-link:focus {
  background-color: #404bbf;
}
.svg-social-media {
  fill: #f4f4fd;
}

.mobile-social-list-link svg {
  width: 16px;
  height: 16px;
}
/* Стиль кнопки закриття  */
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.mobile-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.mobile-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.mobile-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==================================== MAIN STYLES==================================== */
/* ==================================== hero первая секция ====================================*/
/* ==================================== мобильная версия ====================================*/
main {
  flex-grow: 1;
}

.section-hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-background-img/bi-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 767px;
  max-height: 100%;
  max-width: 320px;
}
/* Ретина для мобильной версии */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-background-img/bi-mobile@2x.jpg');
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 216px;
}
.button-style {
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:hover {
  background-color: #404bbf;
}
.button-style:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-color: #2e2f42;
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-background-img/bi-pad.jpg');
    max-width: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100%;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }
}
/* Ретина для планшета */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-background-img/bi-pad@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-background-img/people-office.jpg');
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
/* Ретина для десктопа */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-background-img/people-office@2x.jpg');
  }
}
/* ==================================== benefits вторая секция  ====================================*/
/* ==================================== мобильная версия ====================================*/
.text-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: start;
}

.list-benefits {
  display: flex;
  gap: 72px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.section-studio {
  min-width: 320px;
}

.title-benefits {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.div-for-icon-benefits {
  display: none;
}
/* ==================================== планшетная версия ====================================*/

@media screen and (min-width: 768px) {
  .title-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }
  .text-benefits {
    text-align: start;
  }
  .list-benefits {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item-benefits {
    max-width: calc((100% - 24px * 1) / 2);
  }
  .section-studio {
    min-width: 768px;
  }

  .title-benefits {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
}

/* ==================================== монитор  ====================================*/

@media screen and (min-width: 1158px) {
  .title-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .div-for-icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 244, 253, 1);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }

  .text-benefits {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .list-benefits {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .item-benefits {
    max-width: calc((100% - 24px * 3) / 4);
  }
}
/* ==================================== Our Team Mobile-first Styles ==================================== */

.team-section {
  background: #f4f4fd;
  min-width: 320px;
  padding: 96px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  flex-direction: row;
  gap: 24px;
}

.social-list-item {
  display: inline-block;
  justify-content: space-around;
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #404bbf;
}
.social-list-link:focus {
  background-color: #404bbf;
}
.svg-social-media {
  fill: #f4f4fd;
}

.social-list-link svg {
  width: 16px;
  height: 16px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 264px;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.div-for-name-role {
  padding: 32px 0;
}

.members-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* ==================================== Tablet Version (768px and above) ==================================== */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-list-item {
    flex-basis: calc(50% - 12px);
  }

  .div-for-name-role {
    padding: 32px 0;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 72px;
  }
}

/* ==================================== Desktop Version (1158px and above) ==================================== */
@media screen and (min-width: 1158px) {
  .team-list-item {
    flex-basis: calc(25% - 18px);
  }
}

/* ==================================== our porfolio четвертая секция  ====================================*/
/* ==================================== Mobile Styles ====================================*/

.portfolio-section {
  background-color: #ffffff;
}

.portfolio-title {
  text-transform: capitalize;
  font-size: 24px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-list-item {
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-avatar {
  width: 100%;
  height: auto;
}

.div-for-product-name-type {
  padding: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.product-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-type {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.product-description-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  overflow: auto;
  padding: 20px;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  font-size: 14px;
  line-height: 1.4;
}

.portfolio-list-item:hover .product-description-overlay {
  transform: translateY(0%);
}

/* ===================== for Tablets ======================== */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .product-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .div-for-product-name-type {
    padding: 24px;
  }

  .product-name {
    font-size: 20px;
  }

  .product-type {
    font-size: 16px;
  }
}

/*================== for Desktop =============================== */
@media screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .product-avatar {
    height: 300px;
  }

  .div-for-product-name-type {
    padding: 32px 16px;
  }

  .product-name {
    font-size: 22px;
  }

  .product-type {
    font-size: 18px;
  }
}
/*==================================== FOOTER STYLES  ====================================*/
/*=============  MOBILE===================== */

.footer {
  background-color: #2e2f42;
  padding: 96px 0px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 72px;
}

.page-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  justify-content: center;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.svg-social-media-footer {
  fill: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}

.text-sosial-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  padding-left: 0;
}

.div-for-social-media-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-list-item-footer {
  width: 40px;
  height: 40px;
}

.social-list-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.div-for-subscribe-footer {
  align-items: center;
}

.form-subscribe-footer {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: center;
}

.subscribe-text-footer {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.input-subscribe-footer {
  width: 288px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-subscribe-footer::placeholder {
  color: #ffffff;
}

.button-subscribe-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 16px;
}

.svg-subscribe-footer {
  margin-left: 16px;
  fill: #ffffff;
}

.button-subscribe-footer:hover,
.button-subscribe-footer:focus {
  background-color: #31d0aa;
}

.div-for-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ============= планшет ===================== */
@media screen and (min-width: 768px) {
  .container-footer {
    margin-left: auto;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 584px;
  }

  .div-for-logo-text {
    text-align: left;
    display: block;
    margin-bottom: 0;
  }

  .footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }

  .text-sosial-media {
    text-align: left;
  }

  .social-list-footer {
    justify-content: space-between;
  }

  .div-for-subscribe-footer {
    flex-direction: row;
    margin: 0;
  }

  .form-subscribe-footer {
    gap: 24px;
    flex-direction: row;
  }

  .input-subscribe-footer {
    width: 264px;
  }

  .subscribe-text-footer {
    text-align: start;
  }
}
/*================== for Desktop =============================== */

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .container-footer {
    margin-left: auto;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    max-width: 1158px;
    gap: 0;
  }

  .div-for-logo-text {
    text-align: left;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 120px;
  }
  .div-for-social-media-footer {
    margin-right: 80px;
  }
  .footer-text {
    max-width: 288px;
    margin-bottom: 0;
  }

  .text-sosial-media {
    text-align: left;
  }

  .social-list-footer {
    justify-content: flex-start;
    gap: 16px;
  }

  .div-for-subscribe-footer {
    flex-direction: row;
    margin: 0;
  }

  .form-subscribe-footer {
    gap: 24px;
    flex-direction: row;
  }

  .subscribe-text-footer {
    text-align: left;
  }

  .button-subscribe-footer {
    min-width: 165px;
  }
}
/*==================================== FOOTER STYLES  ====================================*/

/*====================================modal window style====================================*/
/* Стиль для фону модального вікна */
.modal-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Основні стилі для модального вікна */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 72px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/* Стиль кнопки закриття модального вікна */
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стиль для слогану */
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 360px;
}

/* Стилі для форми */
.review-form {
  display: flex;
  flex-direction: column;
}

/* Стилі для полів форми */
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

/* Стилі для інпутів */

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}
.review-form-input:focus {
  border-color: #4d5ae5;
}

/* Стиль для текстового поля коментаря */
.review-form-comment-wrapper {
  margin-bottom: 16px;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
  border-color: rgba(77, 90, 229, 1);
}

/* Стиль для чекбокса */
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* Кастомний чекбокс */
.review-form-custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 12px;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-custom-checkbox {
  border-color: #4d5ae5;
}
.review-form-policy-link {
  color: #4d5ae5;
}
/* Стиль для кнопки надсилання */
.review-form-submit-button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-button:hover {
  background-color: #404bbf;
}
.review-form-submit-button:focus {
  background-color: #404bbf;
}
