/* ==================================== COMMON STYLES ====================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455; /* 5. Цвет текста Slate*/
  background-color: #ffffff; /* 5. Цвет фона по умолчанию*/
  font-family: 'Roboto', sans-serif; /* Основной шрифт для документа */
  font-weight: 400; /* Вес шрифта по умолчанию */
}

.all-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  /*max-width: 100%;*/
}
a {
  color: inherit;
  text-decoration: none; /* Убираем подчеркивание */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==================================== RESET STYLES ====================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Убираем маркеры в списках */
}

/* ==================================== /COMMON STYLES ====================================*/

/* ==================================== HEADER STYLES ==================================== */
.page-header {
  border-bottom: 1px solid#e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

/* ====================================header logo ==================================== */

.page-logo {
  font-family: 'Raleway', sans-serif; /* шрифт для логотипа */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}
.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}
/* ==================================== header navigation ==================================== */
.page-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link-active:active {
  text-decoration: underline;
}
/* ==================================== header address ==================================== */
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ==================================== /HEADER STYLES ==================================== */

/* ==================================== MAIN STYLES==================================== */

/* ==================================== hero первая секция ====================================*/

main {
  flex-grow: 1;
}

.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-style {
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button-style:hover {
  background-color: #404bbf;
}
.button-style:focus {
  background-color: #404bbf;
}
/* ==================================== benefits вторая секция  ====================================*/

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-benefits {
  display: flex;
  gap: 24px;
}
.item-benefits {
  max-width: calc((100% - 24px * 3) / 4);
}
/* ====================================  our team  третья секция ====================================*/
.team-section {
  background: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  max-width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-avatar {
  margin-bottom: 32px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.div-for-name-role {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
}
.members-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
  text-align: center;
}

/* ==================================== our porfolio четвертая секция  ====================================*/
.portfolio-section {
  background-color: #ffffff;
}
.portfolio-title {
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 16px;
  margin-bottom: 8px;
}
.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
  margin-bottom: 32px;
}

.div-for-product-name-type {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.product-avatar {
  max-width: 360px;
  max-height: 360px;
}
.portfolio-list-item {
  max-width: calc((100% - 24px * 2) / 3);
}

/*==================================== /MAIN STYLES==================================== */

/*==================================== FOOTER STYLES  ====================================*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 300px;
  margin-right: auto;
  margin-top: 17.5px;
}
