/* ==================================== COMMON STYLES ====================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455; /* 5. Цвет текста Slate*/
  background-color: #ffffff; /* 5. Цвет фона по умолчанию*/
  font-family: 'Roboto', sans-serif; /* Основной шрифт для документа */
  font-weight: 400; /* Вес шрифта по умолчанию */
}

.all-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  /*max-width: 100%;*/
}
a {
  color: inherit;
  text-decoration: none; /* Убираем подчеркивание */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================================== RESET STYLES ====================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Убираем маркеры в списках */
}

/* ==================================== /COMMON STYLES ====================================*/

/* ==================================== HEADER STYLES ==================================== */
.page-header {
  border-bottom: 1px solid#e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

/* ====================================header logo ==================================== */

.page-logo {
  font-family: 'Raleway', sans-serif; /* шрифт для логотипа */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}
.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}
/* ==================================== header navigation ==================================== */
.page-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.current::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-item {
  position: relative;
}

/* ==================================== header address ==================================== */
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ==================================== /HEADER STYLES ==================================== */

/* ==================================== MAIN STYLES==================================== */

/* ==================================== hero первая секция ====================================*/

main {
  flex-grow: 1;
}

.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-background-img/people-office.jpg');
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-style {
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:hover {
  background-color: #404bbf;
}
.button-style:focus {
  background-color: #404bbf;
}
/* ==================================== benefits вторая секция  ====================================*/

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.div-for-icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 244, 253, 1);
  padding: 24px 100px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-benefits {
  display: flex;
  gap: 24px;
}
.item-benefits {
  max-width: calc((100% - 24px * 3) / 4);
}
/* ====================================  our team  третья секция ====================================*/
.team-section {
  background: #f4f4fd;
}
.social-list {
  display: flex;
  max-width: 232px;
  justify-content: center;
  margin-right: 16px;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 8px;
  flex-direction: row;
  gap: 24px;
}

.social-list-item {
  display: inline-block;
  justify-content: space-around;
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #404bbf;
}
.social-list-link:focus {
  background-color: #404bbf;
}
.svg-social-media {
  fill: #f4f4fd;
}

.social-list-link svg {
  width: 16px;
  height: 16px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  max-width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-avatar {
  margin-bottom: 32px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.div-for-name-role {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
}
.members-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* ==================================== our porfolio четвертая секция  ====================================*/
.portfolio-section {
  background-color: #ffffff;
}
.portfolio-title {
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 16px;
  margin-bottom: 8px;
}
.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
  margin-bottom: 32px;
}

.div-for-product-name-type {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  z-index: 2;
}
.product-avatar {
  max-width: 360px;
  max-height: 360px;
}
.portfolio-list-item {
  max-width: calc((100% - 24px * 2) / 3);
  overflow: hidden;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-for-overlay-effect {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .product-description-overlay {
  transform: translateY(0%);
}
.portfolio-list-item:hover {
  transform: translateY(0%);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.product-description-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  overflow: auto;
  padding: 40px 32px;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*==================================== /MAIN STYLES==================================== */

/*==================================== FOOTER STYLES  ====================================*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  margin-left: auto;
  display: flex;
  align-items: baseline;
}
.div-for-logo-text {
  margin-right: 120px;
  padding-left: auto;
}
.page-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.svg-social-media-footer {
  fill: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 300px;
  margin-right: auto;
  margin-top: 17.5px;
}
.div-for-social-media-footer {
  max-width: 232px;
  margin-right: 16px;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 8px;
}

.text-sosial-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  padding-left: 0;
}
.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.social-list-item-footer {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-list-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-list-link-footer:hover {
  background-color: #31d0aa;
}
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.social-list-link-footer svg {
  width: 16px;
  height: 16px;
}
.div-for-subscribe-footer {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.subscribe-text-footer {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-subscribe-footer {
  display: flex;
  gap: 24px;
}

.input-subscribe-footer {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-subscribe-footer::placeholder {
  color: #ffffff;
}

.button-subscribe-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.svg-subscribe-footer {
  margin-left: 16px;
}

/*==================================== FOOTER STYLES  ====================================*/
/*====================================modal window style====================================*/
/* Стиль для фону модального вікна */
.modal-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*opacity: 0;
  visibility: hidden;
  pointer-events: none;*/
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Основні стилі для модального вікна */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  height: 80%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 72px 24px 24px 24px;
}

/* Стиль кнопки закриття модального вікна */
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стиль для слогану */
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 360px;
}

/* Стилі для форми */
.review-form {
  display: flex;
  flex-direction: column;
}

/* Стилі для полів форми */
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

/* Стилі для інпутів */

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-icon:focus {
  fill: #4d5ae5;
}
.review-form-input-icon:focus + .review-form-input-icon {
  fill: #4d5ae5;
}

/* Стиль для текстового поля коментаря */
.review-form-comment-wrapper {
  margin-bottom: 16px;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-comment:focus {
  border-color: rgba(77, 90, 229, 1);
}

/* Стиль для чекбокса */
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* Кастомний чекбокс */
.review-form-custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 12px;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-custom-checkbox {
  border-color: #4d5ae5;
}
.review-form-policy-link {
  color: #4d5ae5;
}
/* Стиль для кнопки надсилання */
.review-form-submit-button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-button:hover {
  background-color: #404bbf;
}
.review-form-submit-button:focus {
  background-color: #404bbf;
}

/*====================================/modal window style====================================*/
