/* ==================================== COMMON STYLES ====================================*/
body {
  color: #434455; /* 5. Цвет текста Slate*/
  background-color: #ffffff; /* 5. Цвет фона по умолчанию*/
  font-family: 'Roboto', sans-serif; /* Основной шрифт для документа */
  font-weight: 400; /* Вес шрифта по умолчанию */
}

a {
  color: inherit;
  text-decoration: none; /* Убираем подчеркивание */
}

ul,
ol {
  list-style-type: none; /* Убираем маркеры в списках */
}

button {
  cursor: pointer;
}
/* ==================================== /COMMON STYLES ====================================*/

/* ==================================== HEADER STYLES ==================================== */

/* ====================================header logo ==================================== */

.page-logo {
  font-family: 'Raleway', sans-serif; /* шрифт для логотипа */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

/* ==================================== header navigation ==================================== */

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link-active:active {
  text-decoration: underline;
}
/* ==================================== header address ==================================== */
.address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ==================================== /HEADER STYLES ==================================== */

/* ==================================== MAIN STYLES==================================== */

/* ==================================== hero первая секция ====================================*/

.section-hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-style {
  color: white;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-style:hover {
  background: #404bbf;
}
.button-style:focus {
  background: #404bbf;
}
/* ==================================== benefits вторая секция  ====================================*/

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ====================================  our team  третья секция ====================================*/
.team-section {
  background: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-title {
  text-transform: capitalize;
}

.team-list-item {
  background-color: #ffffff;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.members-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================================== our porfolio четвертая секция  ====================================*/
.portfolio-section {
  background-color: #ffffff;
}
.portfolio-title {
  text-transform: capitalize;
}
.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*==================================== /MAIN STYLES==================================== */

/*==================================== FOOTER STYLES  ====================================*/
.footer {
  background-color: #2e2f42;
}

.page-logo-footer {
  font-family: 'Raleway', sans-serif; /* шрифт для логотипа */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
